Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-include-cleaner,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type
WarningsAsErrors: '*'
