NORELECBOT_TELEGRAM_TOKEN=
NORELECBOT_CONQUISTER_ENABLED=1
NORELECBOT_OWNER_ID=
NORELECBOT_QUOTE_COST=1000
NORELECBOT_CONQUISTER_CHAT_ID=

NORELECBOT_API_HOST=0.0.0.0
NORELECBOT_API_PORT=8000

NORELECBOT_CONQUISTER_FILE=conquister.json
NORELECBOT_QUOTES_FILE=quotes.json
